{% extends "layout.html" %}
{% block body %}
  <section>
    <h1>1Phone</h1>
    <h3>O smartphone sustentável.</h3>
    <div class="phone-container">
      <div class="gradient gradient-purple"></div>
      <div class="gradient gradient-green"></div>
      <img
        class="phone-back"
        src="../static/images/1phone-back.png"
        alt="Two 1Phones atop of each other."
      />
      <img
        class="phone-front"
        src="../static/images/1phone-front.png"
        alt="Two 1Phones atop of each other."
      />
    </div>
    <a class="video-button" href>Veja o Vídeo</a>
  </section>
  <section>
    <span class="material-icons icon-eco">eco</span>
    <h2>Nossa missão</h2>
    <h3>Criando um produto que faz a diferença.</h3>
    <div class="mission-section-text-container">
      <p>
        Apenas em 2019, cerca de 2.143.000 toneladas de lixo eletrônico foram
        gerados no Brasil, dos quais a maioria não foi reciclada ou
        reaproveitada de qualquer forma.<br />Nosso objetivo é mudar isso,
        acreditamos que pequenas ações podem fazer uma grande diferença,
        portanto, quanto mais tempo dura um dispositivo, mais sustentável ele
        se torna.
      </p>
      <p>
        Utilizamos materiais coletados por meio da reciclagem e
        reaproveitamento na produção das nossas peças, além disso, o design
        modular permite que você repare, troque, ou atualize seu dispositivo
        com facilidade.<br />Desta forma, procuramos reduzir a necessidade de
        troca do dispositivo e consequentemente, o impacto do descarte deste
        no meio ambiente.
      </p>
    </div>
  </section>
  <section>
    <span class="material-icons">extension</span>
    <h2>Design modular</h2>
    <h3>Troque, repare, atualize.</h3>
    <p class="module-section-text">
      Uma peça quebrou? Precisa de mais memória? Talvez uma tela nova?<br />Prezamos
      pelo direito ao reparo, então todos os nossos produtos são compostos por
      módulos facilmente trocáveis, e acompanham os diagramas e ferramentas
      necessárias para seu reparo e manutenção. Sem obsolescência planejada
      por aqui. Além disso, com ambos hardware e software de código aberto,
      trabalhamos ao seu lado para desenvolver um produto melhor para todos.
    </p>
  </section>
  <section>
    <span class="material-icons icon-camera">camera_alt</span>
    <h2>Gosta de tirar fotos?</h2>
    <h3>Vai adorar nossos módulos de câmera.</h3>
    <div class="photo-grid">
      <div>
        <p>
          <b>Nunca perca o momento</b><br /><br />Noite ou dia, próximo ou
          distante, esteja sempre pronto para capturar com o módulo de
          múltiplas lentes
        </p>
        <img
          src="../static/images/camera-example-1.png"
          alt="Foto por Ave Calvar Martinez em https://www.pexels.com"
        />
      </div>
      <img
        src="../static/images/camera-example-2.png"
        alt="Foto por Brady Knoll em https://www.pexels.com"
      />
      <img
        src="../static/images/camera-example-3.png"
        alt="Foto por TheThinFrame em https://www.pexels.com"
      />
      <div>
        <p>
          <b>O máximo de qualidade</b><br /><br />Módulos de lente única mais
          claras e com sensores melhores
        </p>
        <img
          src="../static/images/camera-example-4.png"
          alt="Foto por Matt Hardy em https://www.pexels.com"
        />
      </div>
    </div>
  </section>
{% endblock %}