<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>1Phone{% block title %}{% endblock %}</title>
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/icon.svg') }}"
    />

    <!-- Import fonts and icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400&display=swap"
      rel="stylesheet"
    />

    <!-- Import stylesheets -->
    <link
      href="{{ url_for('static', filename='styles/reset.css') }}"
      rel=" stylesheet"
    />
    <link
      href="{{ url_for('static', filename='styles/layout.css') }}"
      rel="stylesheet"
    />

    <!-- Import scripts -->
    <script
      src="{{ url_for('static', filename='scripts/layout.js') }}"
      defer
    ></script>

    {% block head %}{% endblock %}
  </head>
  <body>
    <header>
      <a class="logo-1phone" href="{{ url_for('index') }}">
        <img
          src=" {{ url_for('static', filename='images/icon.svg')}} "
          alt="1Phone logo."
        />
      </a>
      <div class="tab-container">
        <a class="tab tab-active" href>Visão Geral</a>
      </div>
      <div class="subscribe-container">
        <p class="subscribe-text">
          A partir de R$ 99/mês<br /><small
            >*mais uma taxa inicial de R$ 299</small
          >
        </p>
        <a class="subscribe-button" href>Inscrever-se</a>
      </div>
    </header>
    {% block body %}{% endblock %}
    <footer>
      <img src="../static/images/github-logo.svg" alt="Logo do Github" />
      <a href="https://github.com/projeto-integrado-eng/1phone-website"
        >Código fonte</a
      >
    </footer>
  </body>
</html>
